.filling {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-header {
    display: flex;
    align-items: center;
    width: 600px;

    &__btn {
      transition: background-color 0.2s;

      &:not(:last-child) {
        margin-right: 4px;
      }

      &:hover {
        background: #292C38;
      }

      &_active {
        background-color: #415FE4;

        &:hover {
          background: #415FE4;

        }
      }
    }
  }

  &-bottom {
    display: flex;
    flex-flow: row nowrap;

    position: absolute;
    top: 32px;
    left: 0;

    width: 600px;
    height: 56px;

    padding: 8px 0px;

    background: #404453;
    border: 3px solid #415FE4;
    box-shadow: 0px 20px 30px rgba(17, 20, 33, 0.3);
    border-radius: 8px;
  }

  &-set-numbers,
  &-set-words {
    display: flex;
    align-items: center;
    height: 100%;

    &-input {
      display: flex;
      align-items: center;

      height: 100%;

      &__input {
        height: 32px;
        background-color: inherit;
      }
    }
  }

  &-set-numbers {
    &-input {
      &_not-focus {
        width: 55px;
        border-right: 1px solid #505465;
        padding-right: 10px;
      }
    }
  }

  &-set-words {
    padding-left: 18px;

    &-input {
      &_not-focus {
        width: 107px;
        border-right: 1px solid #505465;
        padding-right: 10px;
      }
    }
  }

  &-categories {
    position: absolute;
    top: 61px;
    left: 0;
    display: flex; //flex
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 12px 0px;
    background: #404453;
    border-radius: 8px;

    &__tag {
      margin-bottom: 4px;
      padding-left: 17px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #9EA1B7;
    }

    &-items {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;

      &__item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 12px 0;
        padding-left: 17px;
        padding-right: 26px;
        &:not(:last-child) {
          margin-bottom: 4px;
        }

        &:hover {
          cursor: pointer;
        }

        &_active {
          background: #595D6D;
          .filling-categories-items__tagCatagori {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &__name {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
      }

      &__tagCatagori {
        margin-left: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #9EA1B7;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &_hidden {
    display: none;
  }
}