.filling {
  position: relative;

  &-header {
    display: flex;
    align-items: center;

    &__btn {
      transition: background-color 0.2s;

      &:not(:last-child) {
        margin-right: 4px;
      }

      &:hover {
        background: #292C38;
      }

      &_active {
        background-color: #415FE4;

        &:hover {
          background: #415FE4;

        }
      }
    }
  }

  &-bottom {
    display: flex;
    flex-flow: row nowrap;

    position: absolute;
    top: 32px;
    left: 0;

    width: 600px;
    height: 56px;

    padding: 8px 0px;

    background: #404453;
    border: 3px solid #415FE4;
    box-shadow: 0px 20px 30px rgba(17, 20, 33, 0.3);
    border-radius: 8px;
  }

  &-set-numbers,
  &-set-words {
    display: flex;
    align-items: center;
    height: 100%;

    &-input {
      display: flex;
      align-items: center;

      height: 100%;

      &__input {
        height: 32px;
        background-color: inherit;
      }
    }
  }

  &-set-numbers {
    &-input {
      &_not-focus {
        width: 55px;
        border-right: 1px solid #505465;
        padding-right: 10px;
      }
    }
  }

  &-set-words {
    padding-left: 18px;
    &-input {
      &_not-focus {
        width: 107px;
        border-right: 1px solid #505465;
        padding-right: 10px;
      }
    }
  }
}