.empty {
  padding: 0 24px;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 12px;
    background: #1E202B;
    border: 1px dashed #4B4E61;
    border-radius: 6px;
    &:is(:hover) {
      cursor: pointer;
    }
  }

  &-icon {
    margin-right: 9px;
    display: grid;
    place-items: center;
    width: 16px;
    height: 16px;
  }

  &-text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7B7F96;
  }
}

.empty-drag {
  background: #181F3A;
  border-color: #4461E0;
}

.empty-hidden {
  display: none !important;
}