.group {
  margin-bottom: 8px;

  &-elements {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;

    &:hover {
      .group__name {
        cursor: pointer;
        color: #FFFFFF;
      }

      .group__icon svg path {
        fill: #FFFFFF;
      }

      .group__draggable {
        transform: translateY(-50%) scale(1);
      }
    }
  }

  &__icon {
    display: grid;
    place-items: center;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    transition: all 0.2s;
    &_active {
      transform: rotate(90deg);
    }
  }

  &__name {
    flex-grow: 1;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7B7F96;
  }

  &__count-money {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-grow: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #7B7F96;
  }

  &__draggable {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%) scale(0);
    transition: all 0.2s;
  }

  &-items {
    max-height: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
  }
}

.item {
  display: block;
  position: relative;
  padding: 16px 24px;
  &:last-child {
    margin-bottom: 10px;
  }

  &::before {
    content: '';
    position: absolute;
    width: calc(100% - 48px);
    bottom: 0;
    left: 50%;
    border-bottom: 1px dashed #2E3140;
    transform: translateX(-50%);
  }

  &:hover {
    cursor: pointer;

    .item__draggable {
      transform: translateY(-50%) scale(1);
    }

    .item__money-count {
      transform: translateX(-28px);
    }

    .item__plus {
      opacity: 1;
      transform: translate(0, -50%) scale(1);
      pointer-events: auto;
    }
  }

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    margin: 0;
    flex-grow: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7B7F96;
  }

  &__money-count {
    flex-grow: 0;
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
    transition: all 0.2s;
  }

  &__draggable {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%) scale(0);
    transition: all 0.2s;
  }

  &__plus {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(30px, -50%) scale(0);
    opacity: 0;
    pointer-events: none;
    background: #1B1D26;
    transition: all 0.2s;
  }
}